<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <link rel='stylesheet' href='/stylesheets/finacial_styles.css' />

</head>
<body ng-app="FinancialService">

<div id="container" ng-controller="mainCtrl">
    <header><h1>Financial Service</h1></header>
    <div class="module">

        <nav class="float-form">
            <div class="listContener">
                <!--<div class="searchContainer">
                    <input class="searchInput" type="text" placeholder="Search" ng-model="search.$"/>
                </div>-->
                <table class="rwd-table">
                    <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Price</th>
                        <th>Date</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody ng-if="stocks.length>0">
                    <tr ng-repeat="stock in stocks | orderBy: 'symbol' ">
                        <td>{{::stock.symbol | uppercase}}</td>
                        <td>{{::stock.price}}</td>
                        <td>{{::stock.date | date: 'short'}} </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </nav>
        <!--Details-->
        <section ng-view></section>
    </div>

</div>


    <!--Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        /*var socket = io.connect('http://localhost:3000');
        socket.on('connect', function(data){
            socket.emit('join', 'Hello from client');
        });*/
        /*socket.on('message', function(message) {
            alert('The server has a message for you: ' + message);

        })*/
        /*socket.on('dbChange', function (data) {
            // convert the json string into a valid javascript object

            alert(data.symbol);
            //$('#container').html(_data.symbol);
            //$('time').html('Last Update:' + new Date());
        });*/
    </script>
</body>
</html>
