<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/finacial_styles.css' />

</head>
<body ng-app="FinancialService">

<div id="container" ng-controller="mainCtrl">
    <header><h1>Financial Service</h1></header>
    <div class="module">

        <nav class="float-form">
            <div class="listContener">
                <table class="rwd-table">
                    <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Price</th>
                        <th>Date</th>
                        <th>Last change</th>
                    </tr>
                    </thead>
                    <tbody ng-if="stocks.length>0">
                    <tr ng-repeat="stock in stocks | orderBy: 'symbol' ">
                        <td>{{::stock.symbol | uppercase}}</td>
                        <td>{{::stock.price}}</td>
                        <td>{{::stock.date | date: 'short'}} </td>
                        <td ng-style="stock.change > 0 ? { color:'#709a0e'} :  {color:'red'} " style="font-weight: bold">
                            {{stock.change > 0 ? '+' : ''}}{{::stock.change || "0"}}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </nav>
        <!--Details-->
        <section ng-view></section>
    </div>

</div>


    <!--Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
    </script>
</body>
</html>
