@import url(http://fonts.googleapis.com/css?family=Roboto:300);

body{

    background-color:#f0f0f0;
    font-family: 'Roboto', sans-serif;
}

h1{
    margin-left:10%;
    color:#618B9C;
}

#container{
    position:relative;
    top:20px;
    height:100%;
    min-height: 500px;
    width:100%;
    min-width: 300px;

}

.module{
    position:relative;
    height:90%;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    border-radius:5px;
    background:RGBA(255,255,255,1);
    -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .45);
    box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
    border-top: 6px solid #618B9C;
    margin-bottom: 20px;
}
.createAddress{
    position:relative;
    max-width: 500px;
    height:90%;
    width:70%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 30px;
}

.module ul{
    list-style-type:none;
    margin:0;
    display: inline;
}









/*Table*/
.rwd-table{
    width:97%;
    height:100%;
    margin:50px auto 30px auto;
    margin-right: auto;
    text-align: left;
    min-width: 300px;

}

.rwd-table {
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 14px 'Roboto', sans-serif;
}
.rwd-table thead th {
    width: 14%;
    background-color: transparent;
    border-bottom: solid 2px #ccc;
    font-weight: bold;
    color: #618B9C;
    padding: 10px;
    text-align: left;
    text-transform: uppercase;

}
.rwd-table tbody td {
    border: solid 1px #ccc;
    color: black;
    padding: 10px;
    border-left: none;
    border-right: none;
}

.listElements input[type=text], .listElements input[type=email] {
    font: normal 14px 'Roboto', sans-serif;
    border:0px;
    background-color: #f9f9f9;
    background-size: contain;
    width: 89%;
    outline: none;
    float:left;
}

.listContainer{
    padding: 1px;
}



@media (max-width: 670px) {

    .rwd-table, .rwd-table thead, .rwd-table thead tr, .rwd-table thead th, .rwd-table tbody, .rwd-table tbody tr, .rwd-table tbody td {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        width:97%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .rwd-table {
        border-color: #ccc;
    }

    .rwd-table thead th {
        border:none;
    }
    .rwd-table thead th:last-child{
        border-bottom: 2px solid #ccc;
        height: 0px;
        padding-bottom: 40px;

    }
    .rwd-table tbody tr {
        border-bottom: solid 1px #BBDFDF;
    }
    .rwd-table tbody td {
        border-top: none;
        border-color: #EEF7F7;
    }
    .rwd-table tbody tr:last-child {
        border-bottom: none;
    }

    .listElements input[type=text], .listElements input[type=email]{
        text-align: center;
        width: 90%;
    }
}